.mainView {
  position: absolute;
  right: 5vw;
  top: 15vh;
  height: 50vh;
}

.hovedMeny {
  position: absolute;
  top: 3vh;
  left: 24vw;
  font-family: sans-serif;
  width: 100%;
}

.meny2 {
  position: relative;
  padding-top: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 2vw;
  border: black solid;
  background-color: lightgrey;
  width: 15%;
  float: left;
}

.sideMeny {
  position: absolute;
  top: 10vh;
  left: 5vw;
  font-family: sans-serif;
}

.meny {
  margin-top: 5vw;
}

a {
text-decoration: none;
}
